.empDetails {
	border-collapse: collapse;
}


.table-bordered>tbody>tr:nth-child(odd)>td{
	 background-color: lightblue;
}
.table-bordered>tbody>tr:nth-child(even)>td{
	 background-color: lightyellow;
}
.empDetails td{
  padding:5px;
  border: 1px solid black;
}

.empDetails th{
  padding:5px;
   border: 1px solid black;
}

.container2{
  margin-top:25px;
 }

.save{
	margin-top: 20px;
}
}
